<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
    <title>{% block title %}hortee{% endblock %}</title>

    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" />
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="SHORTCUT ICON" />
    
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/hortee.css" />
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/zepto.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>    
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    
    {% block head %}{% endblock head %}
</head>
<body>
    <header>
    {% block header %}
    {% if user.is_authenticated %}
        <h1>hortee</h1>
        <ul id="main-nav">
            <li><a href="#">List</a></li>
        </ul>
    {% endif %}
    {% endblock header %}
    <ul id="sub-nav">
    {% block subnav %}{% endblock %}
    </ul>
    </header>    
    
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>

    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    
    <footer>
        {% block footer %}
        <ul id="user-nav">
            <li><a href="{% url main-logout %}">Logout</a></li>
        </ul>        
        {% endblock footer %}
    </footer>
</body>
</html>
