<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
        <title>{% block title %}hortee{% endblock %}</title>        
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/reset.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/hortee.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/zepto.js"></script>
        <script type="text/javascript">
        $(function(){ window.scrollTo(0, window.innerHeight); });
        </script>
        {% if user.is_authenticated %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/hortee-global.js"></script>
        {% endif %}        
        {% block head %}{% endblock head %}
    </head>
    <body>
        <header>
            {% block header %}
                <h1>hortee</h1>
                <nav>{% block nav %}{% endblock %}</nav>
            {% endblock header %}
        </header>        
        <div id="content">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                {% block messages %}{% endblock %}
            </ul>
            {% block content %}{% endblock content %}
        </div>
        <footer>
            {% block footer %}
            <nav>
                {% if user.is_authenticated %}
                <a href="{% url main-logout %}">Logout</a>
                {% endif %}
            </nav>
            {% endblock footer %}
        </footer>
        {% block templates %}{% endblock %}     
    </body>
</html>
