{% extends base_template %}
{% load verbatim %}
{% block head %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    <script type="text/javascript">
        API_ENDPOINT = "{% url api_api_top_level 'api' %}";        
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hortee-list.js"></script>  
{% endblock %}

{% block content %}
    <div id="app">
        <ul id="actors" />
    </div>

    {% verbatim %}
    <script type="text/template" id="actor-template"> 
        <h3>{{ name }}</h3>
        <ul class="events" />
    </script> 
    {% endverbatim %}
    
    {% verbatim %}
    <script type="text/template" id="event-template"> 
        {{ text }}
    </script> 
    {% endverbatim %}
        
{% endblock content %}
