{% extends base_template %}
{% block messages %}
    {% if form.errors %}
    <li class="error">Your username and password didn't match. Please try again.</li>
    {% endif %}
{% endblock %}
{% block content %}
<form method="post" action="." class="login">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="fieldcontain">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>
    <div class="fieldcontain">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>
    <div class="fieldcontain actions">
        <input type="submit" value="Login" />
    </div>
</form>
{% endblock content %}
