{% extends base_template %}
{% load verbatim %}
{% block title %}{{ block.super }} :: List{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone-sync.js"></script>
    <script type="text/javascript">
        API_DISCO = {{ api_disco|safe }};
        USER_NAME = '{{ user }}';
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hortee-list.js"></script>  
{% endblock %}

{% block content %}
    <div id="app">
        <h2></h2>
        <div id="plots">            
            <ul></ul>    
        </div>
        <ul id="actors"></ul>
    </div>
{% endblock content %}

{% block templates %}
{% verbatim %}
<script type="text/template" id="plot-template">
{{ name }}
</script>
<script type="text/template" id="actor-template"> 
<h3>{{ name }}</h3>
<ul class="actions">
    <li class="form">
        <table><tr>
        <td class="btn-contain"><span class="btn date" /></td>
        <td><input type="text" class="input-action" /></td>
        </tr></table>
    </li>
</ul>
</script> 
<script type="text/template" id="action-template"> 
    <p>{{ text }}</p>
    <p class="date">{{ new Date(date).formatDate() }}</p>
    <ul class="controls">
        <li class="delete">delete</li>
    </ul>
</script> 
{% endverbatim %}
{% endblock %}
