{% extends base_template %}
{% load verbatim %}
{% block title %}{{ block.super }} :: List{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone-xsrf.js"></script>
    <script type="text/javascript">
        API_DISCO = {{ api_disco|safe }};
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hortee-list.js"></script>  
{% endblock %}

{% block nav %}
    <h2><a href="#">{{ default_plot }}</a></h2>
    <div class="actions">
        <span id="plot-actions" />
    </div>
{% endblock %}

{% block content %}
    <div id="app">
        <ul id="actors" />
    </div>
{% endblock content %}

{% block templates %}
    {% verbatim %}
<script type="text/template" id="actor-template"> 
<h3>{{ name }}</h3>
<ul class="actions" style="display:none;">
    <li class="form">
        <table><tr>
        <td class="btn-contain"><span class="btn date" /></td>
        <td><input type="text" class="input-action" /></td>
        <td class="btn-contain"><span class="btn add" /></td>
        </tr></table>
    </li>
</ul>
</script> 
<script type="text/template" id="action-template"> 
    <p>{{ text }}</p>
</script> 
    {% endverbatim %}
{% endblock %}
