<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
    <title>hortee</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/hortee.css" />
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
    {% block head %}{% endblock head %}
</head>
<body>
    {% block header %}
    {% if user.is_authenticated %}
    <div id="header">
        <ul id="main-nav">
            <li>
                <select id="plot">
                {% for plot in plots %}
                    <option value="{{ plot.id }}">{{ plot.name }}</option>
                {% endfor %}
                </select>            
            </li>
            <li><a href="{% url tracktor-map %}">Map</a></li>
            <li><a href="{% url tracktor-list %}">List</a></li>
        </ul>
    </div>
    {% endif %}
    {% endblock header %}
    {% block content %}{% endblock content %}
</body>
</html>
