<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
    <title>hortee</title>
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/hortee.css" />
    <script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/js/hortee.js"></script>
</head>
<body>
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>
</html>
