<!DOCTYPE html> 
<html> 
	<head> 
	<title>hortee</title>
	
	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
	<script src="http://code.jquery.com/jquery-1.5.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
	
	<link rel="stylesheet" href="/static/css/mobile.css" />
	
		
	{% block head %}{% endblock %}
</head> 
<body>
    <a name="top"></a>
    {% block page %}
    <div data-role="page" id="{% block page_id %}{% endblock %}">

	    <div data-role="header" id="header">
    		{% block header %}
    		{% block backlink %}{% endblock %}
	        <h1>{% block title %}hortee{% endblock %}</h1>
            <a href="/" data-icon="home" data-iconpos="notext" class="ui-btn-right jqm-home">Home</a>
    	    {% endblock %}
	    </div>		    
	    
	    <div data-role="content" id="content">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% block content %}{% endblock %}
	    </div>

        {% block footer %}
	    <div data-role="footer" data-position="fixed" id="footer" class="ui-grid-a">
	        {% if user.is_authenticated %}
	            <div data-role="controlgroup" data-type="horizontal" class="ui-block-a">
	                <a href="#top" data-role="button" data-icon="arrow-u">Top</a>
        	        <a href="{% url tracktor-plots %}" data-role="button" data-icon="gear" data-transition="slideup">Plot: {{ current_plot }}</a>	
                </div>
                <div data-role="controlgroup" data-type="horizontal" class="ui-block-b">
                    <a href="{% url main-logout %}" data-ajax="false" data-role="button" data-icon="delete">logout</a>
                </div>
            {% endif %}
	    </div>
        {% endblock %}
	    	    
    </div>
    {% endblock %}
</body>
</html>
