body {
    font-family: arial, verdana, 'Bitstream Vera Sans', helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#header {
    background: #EEE;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

canvas {
    padding: 0;
    margin: 0;
}
