body {
    font-family: arial, verdana, 'Bitstream Vera Sans', helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#header {
<<<<<<< HEAD
    background: #EEE;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

canvas {
=======
    position: absolute;
    width: 100%;
    background: #EEE;
    z-index: 5000;
}

canvas, #mapimg {
    position: absolute;
    top: 0;
    left: 0;
>>>>>>> c6523517c4e611278547d985b2d98403188dd589
    padding: 0;
    margin: 0;
}

