body {
    font-family: arial, verdana, 'Bitstream Vera Sans', helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#header {
    position: absolute;
    width: 100%;
    background: #EEE;
}

canvas, map {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

