body {
    font-family: arial, verdana, 'Bitstream Vera Sans', helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#header {
    position: absolute;
    width: 100%;
    background: #EEE;
    z-index: 5000;
}

canvas, #mapimg {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    cursor: default;
}

/* list */
form.add_event {
    display: none;
}

ul.events {
    display: none;
}

ul.events li span.date {
    display: block;
}

