body {
    font-family: arial, verdana, 'Bitstream Vera Sans', helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

#header {
    width: 100%;
    background: #EEE;
    z-index: 5000;
    padding: 10px;
}

#main-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

#main-nav li {
    display: inline;
    margin-left: 10px;
    line-height: 25px;
}

/* map */
canvas, #mapimg {
    position: absolute;
    top: 25px;
    left: 0;
    padding: 0;
    margin: 0;
    cursor: default;
}

/* list */
ul#actors {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#actors li {
    padding-left: 5px;
}

form.add_event {
    display: none;
}

ul.events {
    display: none;
    list-style: none;  
    padding: 0;
    margin: 0;  
}

ul.events li span.date {
    display: block;
    font-size: 80%;
}

span.delete {
    cursor: pointer;
}

span.name {
    cursor: pointer;
}
