{% extends base_template %}
{% block page_id %}event-add{% endblock %}

{% block title %}Add event{% endblock %}

{% block content %}
<form action="{% url tracktor-event-add actor_id %}" method="post" data-ajax="false">
    {% csrf_token %}
    <div data-role="fieldcontain">
        <label id="event_text" for="event_text">Text</label>
        <textarea name="event_text"></textarea>
    </div>
    <button type="submit">Add</button>
</form>
{% endblock content %}

{% block footer %}{% endblock %}
