{% extends base_template %}
{% block page_id %}actor-add{% endblock %}

{% block title %}Add actor{% endblock %}

{% block content %}
<form action="{% url tracktor-actor-add %}" method="post" data-ajax="false">
    {% csrf_token %}
    <div data-role="fieldcontain">
        <label id="actor_name" for="actor_name">Name</label>
        <input type="text" name="actor_name" />        
        <button type="submit">Add</button>
    </div>
</form>
{% endblock content %}

{% block footer %}{% endblock %}
