{% extends base_template %}
{% block page_id %}actors-list{% endblock %}

{% block content %}

<a href="{% url tracktor-actor-add %}" data-role="button" data-icon="add">Add actor</a>

<ul data-role="listview" data-split-icon="delete" data-split-theme="c">
{% for actor in actors %}
    <li>
        <h3><a href="{% url tracktor-events actor.id %}">{{ actor.name }}</a></h3>
    	<a href="{% url tracktor-actor-delete actor.id %}" data-rel="dialog" data-transition="pop">Delete</a>
    </li>
{% endfor %}
</ul>

{% endblock content %}
