{% extends base_template %}
{% block page_id %}actors-list{% endblock %}
{% block subnav %}
    <ul id="sub-nav">
        <li><a href="{% url tracktor-actor-add %}">Add actor</a></li>
    </ul>
{% endblock %}
{% block content %}
    <ul data-role="listview">
    {% for actor in actors %}
        <li>
            <h3><a href="{% url tracktor-events actor.id %}">{{ actor.name }}</a></h3>
        	<a href="{% url tracktor-actor-delete actor.id %}">Delete</a>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}

