{% extends base_template %}
{% block page_id %}event-add{% endblock %}
{% block title %}Add event{% endblock %}
{% block subnav %}
    <ul id="sub-nav">
        <li><a href="{% url tracktor-events event.actor.id %}">Back</a></li>
        <li><a href="{% url tracktor-event-delete event.id %}">Delete</a></li>
    </ul>
{% endblock %}
{% block content %}
<form action="{% url tracktor-event-edit event.id %}" method="post">
    {% csrf_token %}
    <div class="fieldcontain">
        {{ form.text.errors }}
        {{ form.text.label_tag }}
        {{ form.text }}
    </div>
    <div class="fieldcontain">
        {{ form.date.errors }}
        {{ form.date.label_tag }}
        {{ form.date }}
    </div>
    <div class="fieldcontain actions">
        <input type="submit" value="Update" />
        <a href="{% url tracktor-events event.actor.id %}">Cancel</a>
    </div>
</form>
{% endblock content %}

