{% extends base_template %}
{% block page_id %}event-delete{% endblock %}

{% block title %}Delete event{% endblock %}

{% block content %}
<form action="{% url tracktor-event-delete event.id %}" method="post" data-ajax="false">
    {% csrf_token %}
    <p>Are you sure you want to delete this event?</p>
    <div data-role="fieldcontain">        
        <input type="submit" value="Delete">
        <a href="{% url tracktor-events event.actor.id %}" data-role="button">Cancel</a>
    </div>
</form>
{% endblock content %}

