{% extends base_template %}
{% block page_id %}events-list{% endblock %}
{% block title %}{{ actor.name }}{% endblock %}
{% block subnav %}
    <ul id="sub-nav">
        <li><a href="{% url tracktor-actors %}">Back</a></li>
        <li><a href="{% url tracktor-event-add actor.id %}">Add event</a></li>
    </ul>
{% endblock %}
{% block content %}
    <ul>
    {% for event in events %}
        <li>
            <h3><a href="{% url tracktor-event-edit event.id %}">{{ event.text }}</a></h3>
            <p>{{ event.date }}</p>
        	<a href="{% url tracktor-event-delete event.id %}">Delete</a>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}

