{% extends base_template %}
{% block page_id %}plots-list{% endblock %}
{% block title %}Plots{% endblock %}
{% block subnav %}
    <ul id="sub-nav">
        <li><a href="{% url tracktor-plot-add %}">Add plot</a></li>
    </ul>
{% endblock %}
{% block content %}
    <ul>
    {% for plot in plots %}
        <li>
            <h3><a href="{% url tracktor-plot-edit plot.id %}">{{ plot.name }}</a></h3>
        	<a href="{% url tracktor-plot-delete plot.id %}">Delete</a>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}

