{% extends base_template %}
{% block page_id %}plots-list{% endblock %}
{% block title %}Plots{% endblock %}
{% block content %}
<a href="{% url tracktor-plot-add %}" data-role="button" data-icon="add">Add plot</a>

<ul data-role="listview" data-split-icon="delete" data-split-theme="c">
{% for plot in plots %}
    <li>
        <h3><a href="{% url tracktor-plot-edit plot.id %}">{{ plot.name }}</a></h3>
    	<a href="{% url tracktor-plot-delete plot.id %}" data-rel="dialog" data-transition="pop">Delete</a>
    </li>
{% endfor %}
</ul>
{% endblock content %}
