{% extends base_template %}
{% block page_id %}plots-list{% endblock %}
{% block title %}Plots{% endblock %}
{% block subnav %}
    <ul id="sub-nav">
        <li><a href="{% url tracktor-plots %}">Back</a></li>
    </ul>
{% endblock %}
{% block content %}
<form action="{% url tracktor-plot-add %}" method="post">
    {% csrf_token %}
    <div class="fieldcontain">
        <label id="plot_name" for="plot_name">Name</label>
        <input type="text" name="plot_name" />        
    </div>
    <div class="fieldcontain actions">
        <input type="submit" value="Add" />
    </div>
</form>
{% endblock content %}
