{% extends base_template %}
{% block page_id %}actor-add{% endblock %}
{% block title %}Add actor{% endblock %}
{% block subnav %}
    <ul id="sub-nav">
        <li><a href="{% url tracktor-actors %}">Back</a></li>
    </ul>
{% endblock %}
{% block content %}
    <form action="{% url tracktor-actor-add %}" method="post">
        {% csrf_token %}
        <div class="fieldcontain">
            {{ form.name.errors }}
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="fieldcontain">
            {{ form.plot.errors }}
            {{ form.plot.label_tag }}
            {{ form.plot }}
        </div>
        <div class="fieldcontain actions">
            <input type="submit" value="Add" />
            <a href="{% url tracktor-actors %}">Cancel</a>
        </div>
    </form>
{% endblock content %}

