{% extends base_template %}
{% block page_id %}event-delete{% endblock %}
{% block title %}Delete Event{% endblock %}
{% block subnav %}
    <ul id="sub-nav">
        <li><a href="{% url tracktor-events event.actor.id %}">Back</a></li>
    </ul>
{% endblock %}
{% block content %}
    <p>Are you sure you want to delete this event?</p>

    <form action="{% url tracktor-event-delete event.id %}" method="post">
        {% csrf_token %}
        <div class="fieldcontain actions">        
            <input type="submit" value="Delete" />
            <a href="{% url tracktor-events event.actor.id %}">Cancel</a>
        </div>
    </form>
{% endblock content %}

