{% extends base_template %}
{% block page_id %}plot-delete{% endblock %}
{% block title %}Delete Plot{% endblock %}
{% block subnav %}
    <ul id="sub-nav">
        <li><a href="{% url tracktor-plots %}">Back</a></li>
    </ul>
{% endblock %}
{% block content %}
    <p>Are you sure you want to delete <strong>{{ plot.name }}</strong>?</p>

    <form action="{% url tracktor-plot-delete plot.id %}" method="post">
        {% csrf_token %}
        <div class="fieldcontain actions">        
            <input type="submit" value="Delete">
            <a href="{% url tracktor-plots %}">Cancel</a>
        </div>
    </form>
{% endblock content %}

