{% extends base_template %}
{% block page_id %}list{% endblock %}

{% block header %}
<h1>{% block title %}hortee{% endblock %}</h1>            
<a href="{% url tracktor-event-add actor_id %}" data-iconpos="notext" data-icon="add" data-theme="b" data-rel="dialog" data-transition="slidedown" class="ui-btn-right jqm-home">Add</a>
{% endblock %}

{% block content %}

<ul data-role="listview" data-split-icon="delete" data-split-theme="c">
{% for event in events %}
    <li>
        <h3><a href="{% url tracktor-event-edit event.id %}">{{ event.text }}</a></h3>
        <p>{{ event.date }}</p>
    	<a href="{% url tracktor-event-delete event.id %}" data-rel="dialog" data-transition="pop">Delete</a>
    </li>
{% endfor %}
</ul>

{% endblock content %}
