/*
http://colorschemedesigner.com/#2411TdknTw0w0

#BBDC29 - light green
#5EB21E - med green
#3F9017 - dark green
#8C543D - light brown
#592B1B - med brown
#421615 - dark brown
#6DCFC2 - light blue
#00A5AE - med blue
#006F92 - dark blue

*/
body {
    font-family: sans-serif;
}

header {
    position: relative;
}

h1 {
    background: #AEB96C url(../img/flower.png) no-repeat -25px -30px;
    height: 45px;
    text-indent: -2000px;
}

h2 {
    font-size: 1.5em;
    line-height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    padding-right: 40px;
    background: url(../img/ico-down.png) no-repeat right center;
    opacity: 0.95;
    cursor: pointer;
}

footer {
    border-top: 1px solid #D2DC97;
    padding: 3px 2px;
    margin-top: 40px;
}

footer nav {
    text-align: center;
}

/* Plots */

#plots {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #FFF;
    border: 1px solid #AEB96C;
    border-top: 0;
    border-right: 0;
    padding: 0 10px 0 30px;
    z-index: 100;
    display: none;
    -webkit-user-select: none;
}

#plots ul li {
    text-align: right;
    font-size: 1.3em;
    line-height: 45px;
    color: #666;
    cursor: pointer;
}

/* Actors */

ul li.loading {
    background: url(../img/loader.gif) no-repeat 10px center;
    line-height: 40px;
    padding-left: 35px;
    color: #DEE2B6;
}

ul li.loading:before {
    content: 'loading...';
}

#actors li.actor {
    border-top: 1px solid #FFF;
    position: relative;
}

#actors li.actor h3 {
    color: #333;
    padding: 0 5px;
    line-height: 40px;
    background: #DEE2B6;
    cursor: pointer;
    -webkit-user-select: none;
}

/* Actions */

ul.actions li.action {
    padding: 10px;
    border-bottom: 1px solid #DEE2B6;
    color: #858B5F;
}

ul.actions li.form {
    margin: 0;
    padding: 0;    
}

ul.actions li.form table {
    width: 100%;
    height: 36px;
}

ul.actions li.form td.btn-contain {
    width: 36px;
}

ul.actions li.form input[type="text"] {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 20px;
    display: block;
    border: 1px solid #AEB96C;
    border-left: 0;
    border-right: 0;
    margin: 0;
    padding: 0;
}

ul.actions li.form input[type="text"].loading {
    background: url(../img/loader.gif) no-repeat 10px center;
}

ul.actions li.form span.btn {
    border: 0;
    padding: 0;
    display: block;
    width: 36px;
    height: 36px;
}

ul.actions li.form span.btn.date {
    background: #AEB96C url(../img/icons-36-white.png) -865px 0 no-repeat;
}

ul.actions li.form span.btn.add {
    background: #6C7823 url(../img/icons-36-white.png) 2px 0 no-repeat;
}

ul.actions li p.date {
    font-size: 0.9em;
}

ul.actions ul.controls {
    text-align: right;
}

ul.actions ul.controls li {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9em;
}

/* Form */

footer nav a {
    color: #858B5F;
}

label {
    display: block;
    color: #6C7823;
}

form {
    margin-top: 10px;
}

form div.fieldcontain {
    padding: 5px;
}

form.login input[type="text"],
form.login input[type="password"],
form.login input[type="date"] {
    font-size: 1.2em;
    border: 1px solid #6C7823;
}

form.login input[type="submit"] {
    font-weight: bold;
    font-size: 1em;
    background: #6C7823;
    border: 0;
    padding: 0 20px;
    line-height: 40px;
    color: #FFF;
}


