/*
http://colorschemedesigner.com/#2411TdknTw0w0
*/
body {
    font-family: sans-serif;
}

header {
    position: static;
}

h1 {
    background: url(../img/bg-header.gif) repeat-x;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 5px;
    line-height: 40px;
    -webkit-background-size: 100% 100%;
    -webkit-box-shadow: 0 3px 7px #858B5F;
}

h2 {
    font-size: 1.5em;
    padding: 13px 5px 10px;
}

h2 a {
    color: #78802A;
    text-decoration: none;
}

header nav div.actions {
    position: absolute;
    top: 0;
    right: 0;
}

header nav div.actions span {
    display: block;
    width: 42px;
    height: 40px;
    opacity: 0.85;
}

header nav div.actions #plot-actions {
    background: #FFF url(../img/icons-36-black.png) no-repeat -429px 2px;
}

footer {
    border-top: 1px solid #D2DC97;
    padding: 3px 2px;
    margin-top: 40px;
}

footer nav {
    text-align: center;
}

/* Actors */

#actors li.actor {
    border-top: 1px solid #FFF;
    position: relative;
    cursor: pointer;
}

#actors li.actor h3 {
    color: #333;
    padding: 0 5px;
    line-height: 40px;
    background: #DEE2B6;
}

/* Events */

ul.actions li.action {
    padding: 10px 10px 10px 36px;
    border-bottom: 1px solid #DEE2B6;
    color: #858B5F;
    cursor: pointer;
}

ul.actions li.form {
    margin: 0;
    padding: 0;    
}

ul.actions li.form table {
    width: 100%;
    height: 36px;
}

ul.actions li.form td.btn-contain {
    width: 36px;
}

ul.actions li.form input[type="text"] {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 20px;
    display: block;
    border: 1px solid #AEB96C;
    border-left: 0;
    border-right: 0;
    margin: 0;
    padding: 0;
}

ul.actions li.form span.btn {
    border: 0;
    padding: 0;
    display: block;
    width: 36px;
    height: 36px;
}

ul.actions li.form span.btn.date {
    background: #AEB96C url(../img/icons-36-white.png) -865px 0 no-repeat;
}

ul.actions li.form span.btn.add {
    background: #6C7823 url(../img/icons-36-white.png) 2px 0 no-repeat;
}

/* Form */

footer nav a {
    color: #858B5F;
    text-decoration: none;
}

label {
    display: block;
    color: #6C7823;
}

form {
    margin-top: 10px;
}

form div.fieldcontain {
    padding: 5px;
}

form.login input[type="text"],
form.login input[type="password"],
form.login input[type="date"] {
    font-size: 1.2em;
    border: 1px solid #6C7823;
}

form.login input[type="submit"] {
    font-weight: bold;
    font-size: 1em;
    background: #6C7823;
    border: 0;
    padding: 0 20px;
    line-height: 40px;
    color: #FFF;
}


