/*
http://colorschemedesigner.com/#2411TdknTw0w0
*/

body {
    font-family: sans-serif;
}

header {
    position: relative;
}

h1 {
    background: url(../img/bg-header.gif) repeat-x;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 5px;
    line-height: 40px;
    -webkit-background-size: 100% 100%;
    -webkit-box-shadow: 0 3px 7px #858B5F;
}

h2 {
    font-size: 1.5em;
    padding: 13px 5px 10px;
}

h2 a {
    color: #78802A;
    text-decoration: none;
}

header nav div.actions {
    position: absolute;
    top: 0;
    right: 0;
}

header nav div.actions span {
    display: block;
    width: 42px;
    height: 40px;
    opacity: 0.85;
}

header nav div.actions #plot-actions {
    background: #FFF url(../img/icons-36-black.png) no-repeat -429px 2px;
}

#content {
}

#actors {
}

#actors li.actor {
    border-top: 1px solid #FFF;
}

#actors li.actor h3 {
    color: #333;
    padding: 0 5px;
    line-height: 40px;
    background: #DEE2B6;
    position: relative;
}

#actors li.actor h3 span.event-add {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 40px;
    background: #6C7823 url(../img/icons-36-white.png) no-repeat 4px 3px;
}

#actors li.actor form.event {
    margin: 0;
    padding: 0 5px;    
}

#actors li.actor form.event input[type=text] {
    width: 90%;
    border-color: #DEE2B6;
}

footer {
    border-top: 1px solid #D2DC97;
    padding: 3px 2px;
    margin-top: 40px;
}

footer nav {
    text-align: center;
}

footer nav a {
    color: #858B5F;
    text-decoration: none;
}

label {
    display: block;
    color: #6C7823;
}

form {
    margin-top: 10px;
}

form div.fieldcontain {
    padding: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    font-size: 1.2em;
    border: 1px solid #6C7823;
}

form div.actions input[type="submit"] {
    font-weight: bold;
    font-size: 1em;
    background: #6C7823;
    border: 0;
    padding: 0 20px;
    line-height: 40px;
    color: #FFF;
}


